   #form1 {
            height: 2300px;
        }
        .auto-style1 {
            margin-left: 51px;
        }
        .auto-style2 {
            margin-left: 58px;
        }
        .auto-style3 {
            margin-left: 44px;
        }
        .auto-style4 {
            height: 0px;
        }