 .auto-style1 {
            margin-right: 0px;
        }
        .auto-style2 {
            margin-left: 4px;
        }
        .auto-style3 {
            margin-left: 42px;
        }
        .auto-style4 {
            margin-left: 49px;
        }
        .auto-style5 {
            height: 758px;
        }